# Ignorar los archivos de configuración de Streamlit
.streamlit/secrets.toml

subchef-app-50de971389f8.json

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and test outputs
*.log
*.out
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyCharm
.idea/

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/